---
layout: default
---
<div class="content">
	{% assign split_url = page.url | split: '/' %}
	{% assign current_assignment_url = split_url[-1] | replace: '.html','' %}
	{% assign assignment_metadata = nil %}
	{% for assignment in site.data.assignments %}
	{% if assignment.url == current_assignment_url %}
	{% assign assignment_metadata = assignment %}
	{% break %}
	{% endif %}
	{% endfor %}
	{% if assignment_metadata.submissions %}
	<div class="container {% if page.full_width %}max-container{% endif %}">
		<div>
			{% for submission in assignment_metadata.submissions %}
			<p>
				<strong>{{ submission.title }}</strong> due <strong>{{ submission.due_date }}</strong>
			</p>
			{% if submission.graded_files %}
			<strong>Graded files:</strong>
			<ul>
				{% for graded_file in submission.graded_files %}
				<li>{{ graded_file }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<div class="container {% if page.full_width %}max-container{% endif %}">
		{% if page.heading %}
		<h1>{{ page.heading }}</h1>
		{% elsif page.title and page.layout != 'archive' %}
		<h2>{{ page.title }}</h2>
		{% endif %}
		{% if page.description %}
		<p class="subtext">{{ page.description }}</p>
		{% endif %}
		{{ content }}
	</div>
	</section>
</div>